*.msp
*.class
/eclipse/
/.gradle/
/.metadata/
/.settings/
/assets/
/asm/
/bin/
/build/
/config/
/crash-reports/
/logs/
/mods/
/resourcepacks/
/dumps/
/scripts/
/saves/
/.classpath
/.project
/options.txt
/screenshots
/*.txt
/server.properties
/world
*.zip
*.psd
*.log
*.iml
*.iws
*.ipr
